body{
    background-color: rgb(247, 247, 247);
    width: 90%;
}
.flowerImage {
    width: 290px;
    height: 290px;
    padding: 10px;
    border-radius: 10px;
    border: solid white medium;
    background-color: white;
    display: block;
    margin: auto;
}
.flowerImaged{
    margin: 0 30px;
    width: 500px;
    height: 500px;
    border: solid 1px rgb(255, 193, 8);
    border-radius: 5px;
}
.flowerImaged:hover, .flowerImaged:focus, .flowerImaged:active {
    border-color: rgb(255, 193, 8);
    transform: translateY(-8px);

}

.divImage {
    text-align: center;
    /* border: solid goldenrod medium; */
    margin: 0.5rem 0rem;
    height: 425px;
}

.v-menu {
    border: gray solid medium;
    padding: 1rem;
}

.navbar-inverse {
    background-color: rgb(255, 193, 8);
    font-size: 10px;
}

p{
    font-size: 20px;
}

.cart-icon{
    position: relative;
    font-size: 24px;
}

.cart-badge{
    position: absolute;
    left: 20px;
    top: -5px;
    background-color:chocolate;
    font-size: 15px;
}

/*compare*/

.addButtonCircular
{
	width: 30px;
	height: 30px;
	line-height: 30px;
    font-size: 25px;
	position: absolute;
	top: 20px;
	right: 25px;
	cursor: pointer;
    background-color:rgb(255, 193, 8);
    border-radius: 15px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

a{background-color:transparent}
a:active,a:hover{outline:0; text-decoration:none;}
    

/* .imgFill{
    width: 50%;
} */

.comparePanel{
    position: fixed;
    bottom: 10px;
    width:90%;
    left:50%;
    transform: translateX(-50%);
    display: none;
    z-index: 3;
    overflow: hidden;
}

.titleMargin{
    padding: 4px 0px 4px 4px;
}
.titleMargin1{
    padding: 0px 0px 0px 4px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.modPos{
    padding-top: 25px !important;
}

.contentPop{
    width: 80%;
    margin-left: 10%;
    height: 80%;
}

.cursor{
    cursor: pointer;
}


.product {
    list-style-type: none;
    border: 1px solid #B5B4B7;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.product:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

.product .header {
    background-color: #111;
    color: white;
    font-size: 25px;
}

.product li {
    border-bottom: 1px solid #B5B4B7;
    padding: 10px;
    text-align: center;
}

.product .grey {
    background-color: #eee;
    font-size: 20px;
}

.compHeader{
    min-height: 200px ;
}

.compareThumb{
    height: 150px;
    max-width: 150px;
}

@media only screen and (max-width:576px){
    li{
        font-size: 8px;
    }
    ul{
        background-color: rgb(255, 193, 8);
        border-radius: 5px;
    }
    .navbar-form{
        background-color: rgb(255, 193, 8);
        border-radius: 5px;
    }
    .comparePanle h4{
        font-size: 15px;
    }
    .compareThumb{
        height: 100px;
        
    }
    
}

.relPos{
    position: relative;
}

.description{
    min-height: 400px ;
}

.rotateBtn{
    -webkit-transform : rotate(45deg); 
    -moz-transform : rotate(45deg); 
    -ms-transform : rotate(45deg); 
    -o-transform : rotate(45deg); 
    transform : rotate(45deg); 
}

.selected{
    border-style:solid !important;
    border-color:rgb(255, 193, 8) !important;
    border-width:medium !important; 
    border-radius: 10px;
}

.closeBtn{
    position: relative;
    top: 40px;
    right: 20px;
}



/*end compare*/

div.selectProduct:hover {
    box-shadow: 0px 0px 20px rgb(255, 193, 8);
    transform: scale(1.05);
    border-radius: 10px;
    border: solid 2px rgb(255, 193, 8);
  }

  div.selectProduct {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgb(255, 193, 8);
    transition: all 0.3s ease-in-out;
  }
  

  .col-sm-2 {
    background-color: white;
    border-radius: 10px;
    border: solid 2px rgb(255, 193, 8);
  }

  .add-to-cart{
    background-color: #fb6969;
    border: solid 1px #fb6969;
    height: 40px;
    width: 150px;
    font-size: 12px;
    border-radius: 20px;
    margin: 5px 0 0 0;
  }
  .add-to-cart:hover{
    background-color: white;
    color: #fb6969;
    border: solid 1px white;
  }
  /* .btn{
    background-color: #fb6969;
  } */
